:root {
  --background-color: #000;
  --complementary-color: rgba(255, 230, 0, 0.1);
  --white-color: #fff;
  --utility-yellow: #ffd600;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  border: none;
  background: none;
  color: inherit;
  font: inherit;
}

/*Keyframes*/
@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(-30px) scale(0.9);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(30px) scale(0.9);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

/*Utilities*/
.u__bold {
  font-weight: 500;
}

.u__yellow {
  color: var(--utility-yellow);
}

/*Background*/
body {
  background-color: var(--background-color);
  font-family: 'Inter', sans-serif;
  color: var(--white-color);
  position: relative;
  overflow-x: hidden;
}

.color {
  height: 1000px;
  width: 1000px;
  background-image: radial-gradient(closest-side, var(--complementary-color), var(--background-color));
  position: absolute;
  top: -570px;
  left: 15%;
  z-index: -1;
}

/*Header*/
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 42px 62px;
  position: fixed;
  width: 100%;
}

.logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
  animation: fade-down 0.5s 0.4s backwards;
}

.logo:hover {
  transform: scale(1.15);
}

.btn {
  background-color: var(--white-color);
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--background-color);
  padding: 10px 20px;
  border-radius: 5000px;
  transition: all 0.3s ease-in-out;
  letter-spacing: 0.5px;
}

.btn:hover {
  transform: scale(1.15);
}

.btn__contact {
  animation: fade-down 0.5s 0.4s backwards;
}

/*Main*/
.main {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  margin-top: -10px;
  margin-bottom: 90px;
  padding: 0 25px;
}

/*Intro*/
.intro {
  padding-top: 125px;
  animation: fade-up 0.5s;
}

.first__heading {
  font-size: 48px;
  font-weight: 600;
  opacity: 0.94;
  display: flex;
  justify-content: center;
  align-items: center;
}

.emoji {
  font-size: 35px;
  margin-top: -8px;
  margin-left: 3px;
}

.text {
  font-size: 40px;
  opacity: 0.9;
  font-weight: 300;
  margin-top: 11px;
  line-height: 1.1;
}

.text__second {
  display: block;
}

/*Works section*/
.work {
  margin-top: 60px;
}

/*Top*/
.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 35px;
}

.second__heading {
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
}

/*Filters*/
.filters {
  display: flex;
  column-gap: 14px;
}

.filter__item {

}

.filter__btn {
  opacity: 0.6;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  cursor: pointer;
  transition: all 0.4s;
}

.filter__btn:hover {
  opacity: 1;
}

.filter__btn-active {
  opacity: 1;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows:  
                      333px 119px 325px 
                      333px 119px 325px
                      ;
  gap: 25px;
  position: relative;
}

.project {
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}

.project:nth-child(1) {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.project:nth-child(2) {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.project:nth-child(3) {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}

.project:nth-child(4) {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.project:nth-child(5) {
  grid-column: 2 / 3;
  grid-row: 2 / 4;
}

.project:nth-child(6) {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
}

.project:nth-child(7) {
  grid-column: 1 / 2;
  grid-row: 4 / 6;
}

.project:nth-child(8) {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}

.project:nth-child(9) {
  grid-column: 3 / 4;
  grid-row: 4 / 6;
}

#static {
  position: absolute;
  transition: all 0.4s;
  transform: scale(1.08);
  object-fit: cover;
}

#static:hover {
  opacity: 0;
  transform: scale(1.01);
}

@media only screen 
   and (max-width : 768px) {
   /* Styles here */
   #static {
    opacity: 0;
   }
}

#active {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

/*.project::before {
  content: '';
  height: 100%;
  width: 100%;
  background-color: var(--background-color);
  position: absolute;
  opacity: 0.2;
  z-index: 10;
  transition: all 0.4s;
}

.project:hover::before {
  opacity: 0.1;
}*/

.grid-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transform: scale(1.08);
  transition: all 0.4s;
}

.project:hover .grid-img {
  filter: blur(2px);
  transform: scale(1.01);
}

/*Project info*/
.project-info {
  bottom: 0;
  position: absolute;
  z-index: 100;
  text-align: left;
  padding: 24px;
  transform: translateY(10px);
}

.description {
  font-size: 16px;
  margin: 3px 0 12px;
  opacity: 0.8;
}

/*Fade*/
.fade {
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-image: linear-gradient(to top, #000, transparent);
  pointer-events: none;
}